<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bun HTML File</title>
    <% for (const cssFile of cssFiles) { %>
    <link rel="stylesheet" href="<%= cssFile %>" />
    <% } %>
    <% for (const hashedJs of hashedImports) { %>
    <script type="module" src="<%= hashedJs %>"></script>
    <% } %>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
